services:
    url-shortener-prod:
        profiles: ['prod']
        image: ghcr.io/mrvin/url-shortener:v1.0.0
#        build:
#         context: ../
#         dockerfile: Dockerfile
#         target: prod
        ports:
         - "8080:8080"
        env_file:
         - ../configs/url-shortener.env
        depends_on:
          redis:
            condition: service_healthy
          migrate:
            condition: service_completed_successfully
        volumes:
         - ${HOME}/volumes_docker/url-shortener/log:/var/log/url-shortener/

    url-shortener-dev:
        profiles: ['dev']
        build:
         context: ../
         dockerfile: Dockerfile
         target: dev
        ports:
         - "8080:8080"
        env_file:
         - ../configs/url-shortener.env
        depends_on:
          redis:
            condition: service_healthy
          migrate:
            condition: service_completed_successfully
        volumes:
         - ${HOME}/volumes_docker/url-shortener/log:/var/log/url-shortener/

    migrate:
        image: migrate/migrate:v4.17.1
        command: ["-path", "/migrations", "-database",  "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable", "up"]
        depends_on:
          postgres:
            condition: service_healthy
        volumes:
         - ./../migrations:/migrations

    # Create service with PostgreSQL.
    postgres:
        image: postgres:17.0-alpine3.20
        ports:
         - "5432"
        user: root
        env_file:
         - ../configs/url-shortener.env
        healthcheck:
          test: ["CMD", "pg_isready", "-q", "-d", "${POSTGRES_DB}", "-U", "${POSTGRES_USER}"]
          interval: 1s
        volumes:
         - ${HOME}/volumes_docker/url-shortener/postgres-data:/var/lib/postgresql/data

    # Create service with Redis.
    redis:
        image: redis:8.2-alpine
        ports:
         - "6379"
        healthcheck:
          test: ["CMD", "redis-cli", "ping"]
          interval: 1s
        volumes:
         - "${HOME}/volumes_docker/url-shortener/data:/data/"
